html, body {
    margin: 0;
}
body {
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
}

.wrapper {
    width: 1200px;
    display: flex;
    margin: 0 auto;
    background-color: aquamarine;
}

.main {
    display: flex;
    flex-flow: column;
    width: 85%;
}

.header {
    background-color: black;
    min-height: 150px;
}

.header .img-main {
    margin-top: 30px;
    margin-left: 30px;
}

.header .contato, .sobre {
    display: flex;
    align-items: center;
}

.header .img-header-contato, .img-header-sobre {
    margin-left: 30px;
    width: 60px;
}

.header h1 {
    color: #f1f1f1;
    font-size: 60px;
    margin-left: 10px
}

.menu {
    width: 15%;
    background-color: #F44444;
}

.pages-menu li {
    list-style: none;
    margin-top: 10px;
}

.pages-menu a{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    color: #fff;
}

.content {
    background-color: white;
    min-height: 300px;
    padding: 20px;
}

.content-atendimento {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tabela {
    border-spacing: 0px;
    width: 800px;
    font-size: 30px;
}

.tabela th, td {
    border: 1px solid black;
}

.content.content-contato {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.sobre-missao {
    display: flex;
}

.sobre-missao .missao, .visao, .valores {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    padding: 0px 15px 20px 15px;
    margin: 5px;
    background-color: #eb5151;
    color: #f1f1f1;
    border-radius: 30px;
}

.endereco {
    box-sizing:content-box;
    margin-right: 50px;
    font-size: 20px;
}

.forms .forms-contact {
    margin-top: 20px;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
}

.forms-contact fieldset {
    display: flex;
    flex-direction: column;
}

.forms-contact fieldset legend {
    font-size: 20px;
    font-weight: 800;
}

.forms-contact input {
    padding: 3px;
    width: 250px;
    height: 15px;
}

.forms-contact button {
    width: 80px;
    margin: 5px 3px 0px 2px;
}

iframe {
    margin-top: 20px;
}

.footer {
    display: flex;
    justify-content: space-between;
    background-color: black;
    min-height: 150px;
}

.footer p {
    margin: 0px;
}

.footer-titulo-1 {
    padding-top: 20px;
    padding-left: 20px;
    color: #f1f1f1;
    font-weight: 800;
    font-size: 23px;
}

.footer-titulo-2 {
    font-size: 16px;
    font-weight: 500;
    color: #f55151;
}

.footer-descricao {
    display: flex;
    flex-direction: column;
    align-items: end;
    color: #f1f1f1;
    padding-top: 20px;
    padding-right: 20px;
}

.descricao p {
    border-left: 2px solid #f1f1f1;
    padding-left: 5px;
}

.footer-contato {
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.footer-contato img{
    width: 30px;
    padding-right: 5px;
}

.footer-contato p{
    font-size: 23px;
    font-weight: 800;
}